<?xml version="1.0" encoding="utf-8"?>
<soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <soap:Body>
    <GetScheduleByGroupMapResponse xmlns="http://tempuri.org/">
      <GetScheduleByGroupMapResult>
        <anyType xsi:type="ProductMap">
          <GroupCode>0002</GroupCode>
          <ProductCode>00001003</ProductCode>
          <ProductName>B3</ProductName>
          <XCoordinate>340</XCoordinate>
          <YCoordinate>410</YCoordinate>
          <MapWidth>39</MapWidth>
          <MapHeight>28</MapHeight>
          <RemainCount>0</RemainCount>
          <StatusCode>2</StatusCode>
          <OptionYn>0</OptionYn>
          <OptionAmount>0</OptionAmount>
          <OptionName />
          <OptionFlag>N</OptionFlag>
        </anyType>
        <anyType xsi:type="ProductMap">
          <GroupCode>0002</GroupCode>
          <ProductCode>00001005</ProductCode>
          <ProductName>B5</ProductName>
          <XCoordinate>515</XCoordinate>
          <YCoordinate>409</YCoordinate>
          <MapWidth>38</MapWidth>
          <MapHeight>32</MapHeight>
          <RemainCount>0</RemainCount>
          <StatusCode>0</StatusCode>
          <OptionYn>0</OptionYn>
          <OptionAmount>0</OptionAmount>
          <OptionName />
          <OptionFlag>N</OptionFlag>
        </anyType>
        <anyType xsi:type="ProductMap">
          <GroupCode>0002</GroupCode>
          <ProductCode>00001006</ProductCode>
          <ProductName>B6</ProductName>
          <XCoordinate>575</XCoordinate>
          <YCoordinate>410</YCoordinate>
          <MapWidth>37</MapWidth>
          <MapHeight>34</MapHeight>
          <RemainCount>1</RemainCount>
          <StatusCode>0</StatusCode>
          <OptionYn>0</OptionYn>
          <OptionAmount>0</OptionAmount>
          <OptionName />
          <OptionFlag>N</OptionFlag>
        </anyType>
        <anyType xsi:type="ProductMap">
          <GroupCode>0002</GroupCode>
          <ProductCode>00001007</ProductCode>
          <ProductName>B7</ProductName>
          <XCoordinate>636</XCoordinate>
          <YCoordinate>410</YCoordinate>
          <MapWidth>35</MapWidth>
          <MapHeight>33</MapHeight>
          <RemainCount>1</RemainCount>
          <StatusCode>0</StatusCode>
          <OptionYn>0</OptionYn>
          <OptionAmount>0</OptionAmount>
          <OptionName />
          <OptionFlag>N</OptionFlag>
        </anyType>
        <anyType xsi:type="ProductMap">
          <GroupCode>0002</GroupCode>
          <ProductCode>00001008</ProductCode>
          <ProductName>B8</ProductName>
          <XCoordinate>698</XCoordinate>
          <YCoordinate>409</YCoordinate>
          <MapWidth>38</MapWidth>
          <MapHeight>37</MapHeight>
          <RemainCount>1</RemainCount>
          <StatusCode>0</StatusCode>
          <OptionYn>0</OptionYn>
          <OptionAmount>0</OptionAmount>
          <OptionName />
          <OptionFlag>N</OptionFlag>
        </anyType>
        <anyType xsi:type="ProductMap">
          <GroupCode>0002</GroupCode>
          <ProductCode>00001009</ProductCode>
          <ProductName>B9</ProductName>
          <XCoordinate>762</XCoordinate>
          <YCoordinate>412</YCoordinate>
          <MapWidth>33</MapWidth>
          <MapHeight>29</MapHeight>
          <RemainCount>1</RemainCount>
          <StatusCode>0</StatusCode>
          <OptionYn>0</OptionYn>
          <OptionAmount>0</OptionAmount>
          <OptionName />
          <OptionFlag>N</OptionFlag>
        </anyType>
        <anyType xsi:type="ProductMap">
          <GroupCode>0002</GroupCode>
          <ProductCode>00001010</ProductCode>
          <ProductName>B10</ProductName>
          <XCoordinate>823</XCoordinate>
          <YCoordinate>401</YCoordinate>
          <MapWidth>42</MapWidth>
          <MapHeight>32</MapHeight>
          <RemainCount>1</RemainCount>
          <StatusCode>0</StatusCode>
          <OptionYn>0</OptionYn>
          <OptionAmount>0</OptionAmount>
          <OptionName />
          <OptionFlag>N</OptionFlag>
        </anyType>
        <anyType xsi:type="ProductMap">
          <GroupCode>0002</GroupCode>
          <ProductCode>00001011</ProductCode>
          <ProductName>B11</ProductName>
          <XCoordinate>882</XCoordinate>
          <YCoordinate>360</YCoordinate>
          <MapWidth>38</MapWidth>
          <MapHeight>28</MapHeight>
          <RemainCount>1</RemainCount>
          <StatusCode>0</StatusCode>
          <OptionYn>0</OptionYn>
          <OptionAmount>0</OptionAmount>
          <OptionName />
          <OptionFlag>N</OptionFlag>
        </anyType>
        <anyType xsi:type="ProductMap">
          <GroupCode>0002</GroupCode>
          <ProductCode>00001012</ProductCode>
          <ProductName>B12</ProductName>
          <XCoordinate>230</XCoordinate>
          <YCoordinate>338</YCoordinate>
          <MapWidth>32</MapWidth>
          <MapHeight>31</MapHeight>
          <RemainCount>1</RemainCount>
          <StatusCode>0</StatusCode>
          <OptionYn>0</OptionYn>
          <OptionAmount>0</OptionAmount>
          <OptionName />
          <OptionFlag>N</OptionFlag>
        </anyType>
        <anyType xsi:type="ProductMap">
          <GroupCode>0002</GroupCode>
          <ProductCode>00001013</ProductCode>
          <ProductName>B13</ProductName>
          <XCoordinate>292</XCoordinate>
          <YCoordinate>336</YCoordinate>
          <MapWidth>31</MapWidth>
          <MapHeight>31</MapHeight>
          <RemainCount>1</RemainCount>
          <StatusCode>0</StatusCode>
          <OptionYn>0</OptionYn>
          <OptionAmount>0</OptionAmount>
          <OptionName />
          <OptionFlag>N</OptionFlag>
        </anyType>
        <anyType xsi:type="ProductMap">
          <GroupCode>0002</GroupCode>
          <ProductCode>00003001</ProductCode>
          <ProductName>B1</ProductName>
          <XCoordinate>222</XCoordinate>
          <YCoordinate>407</YCoordinate>
          <MapWidth>38</MapWidth>
          <MapHeight>38</MapHeight>
          <RemainCount>0</RemainCount>
          <StatusCode>2</StatusCode>
          <OptionYn>0</OptionYn>
          <OptionAmount>0</OptionAmount>
          <OptionName />
          <OptionFlag>N</OptionFlag>
        </anyType>
        <anyType xsi:type="ProductMap">
          <GroupCode>0002</GroupCode>
          <ProductCode>00003002</ProductCode>
          <ProductName>B2</ProductName>
          <XCoordinate>286</XCoordinate>
          <YCoordinate>407</YCoordinate>
          <MapWidth>38</MapWidth>
          <MapHeight>38</MapHeight>
          <RemainCount>0</RemainCount>
          <StatusCode>2</StatusCode>
          <OptionYn>0</OptionYn>
          <OptionAmount>0</OptionAmount>
          <OptionName />
          <OptionFlag>N</OptionFlag>
        </anyType>
        <anyType xsi:type="ProductMap">
          <GroupCode>0002</GroupCode>
          <ProductCode>00003004</ProductCode>
          <ProductName>B4</ProductName>
          <XCoordinate>407</XCoordinate>
          <YCoordinate>407</YCoordinate>
          <MapWidth>33</MapWidth>
          <MapHeight>35</MapHeight>
          <RemainCount>1</RemainCount>
          <StatusCode>0</StatusCode>
          <OptionYn>0</OptionYn>
          <OptionAmount>0</OptionAmount>
          <OptionName />
          <OptionFlag>N</OptionFlag>
        </anyType>
        <anyType xsi:type="ProductMap">
          <GroupCode>0002</GroupCode>
          <ProductCode>00003014</ProductCode>
          <ProductName>B14</ProductName>
          <XCoordinate>353</XCoordinate>
          <YCoordinate>338</YCoordinate>
          <MapWidth>32</MapWidth>
          <MapHeight>30</MapHeight>
          <RemainCount>1</RemainCount>
          <StatusCode>0</StatusCode>
          <OptionYn>0</OptionYn>
          <OptionAmount>0</OptionAmount>
          <OptionName />
          <OptionFlag>N</OptionFlag>
        </anyType>
        <anyType xsi:type="ProductMap">
          <GroupCode>0002</GroupCode>
          <ProductCode>00003015</ProductCode>
          <ProductName>B15</ProductName>
          <XCoordinate>416</XCoordinate>
          <YCoordinate>336</YCoordinate>
          <MapWidth>33</MapWidth>
          <MapHeight>32</MapHeight>
          <RemainCount>1</RemainCount>
          <StatusCode>0</StatusCode>
          <OptionYn>0</OptionYn>
          <OptionAmount>0</OptionAmount>
          <OptionName />
          <OptionFlag>N</OptionFlag>
        </anyType>
        <anyType xsi:type="ProductMap">
          <GroupCode>0002</GroupCode>
          <ProductCode>00003016</ProductCode>
          <ProductName>B16</ProductName>
          <XCoordinate>524</XCoordinate>
          <YCoordinate>338</YCoordinate>
          <MapWidth>32</MapWidth>
          <MapHeight>29</MapHeight>
          <RemainCount>1</RemainCount>
          <StatusCode>0</StatusCode>
          <OptionYn>0</OptionYn>
          <OptionAmount>0</OptionAmount>
          <OptionName />
          <OptionFlag>N</OptionFlag>
        </anyType>
        <anyType xsi:type="ProductMap">
          <GroupCode>0002</GroupCode>
          <ProductCode>00003017</ProductCode>
          <ProductName>B17</ProductName>
          <XCoordinate>586</XCoordinate>
          <YCoordinate>337</YCoordinate>
          <MapWidth>31</MapWidth>
          <MapHeight>30</MapHeight>
          <RemainCount>1</RemainCount>
          <StatusCode>0</StatusCode>
          <OptionYn>0</OptionYn>
          <OptionAmount>0</OptionAmount>
          <OptionName />
          <OptionFlag>N</OptionFlag>
        </anyType>
        <anyType xsi:type="ProductMap">
          <GroupCode>0002</GroupCode>
          <ProductCode>00003018</ProductCode>
          <ProductName>B18</ProductName>
          <XCoordinate>645</XCoordinate>
          <YCoordinate>338</YCoordinate>
          <MapWidth>34</MapWidth>
          <MapHeight>29</MapHeight>
          <RemainCount>1</RemainCount>
          <StatusCode>0</StatusCode>
          <OptionYn>0</OptionYn>
          <OptionAmount>0</OptionAmount>
          <OptionName />
          <OptionFlag>N</OptionFlag>
        </anyType>
        <anyType xsi:type="ProductMap">
          <GroupCode>0002</GroupCode>
          <ProductCode>00003019</ProductCode>
          <ProductName>B19</ProductName>
          <XCoordinate>706</XCoordinate>
          <YCoordinate>338</YCoordinate>
          <MapWidth>34</MapWidth>
          <MapHeight>30</MapHeight>
          <RemainCount>1</RemainCount>
          <StatusCode>0</StatusCode>
          <OptionYn>0</OptionYn>
          <OptionAmount>0</OptionAmount>
          <OptionName />
          <OptionFlag>N</OptionFlag>
        </anyType>
        <anyType xsi:type="ProductMap">
          <GroupCode>0002</GroupCode>
          <ProductCode>00003020</ProductCode>
          <ProductName>B20</ProductName>
          <XCoordinate>761</XCoordinate>
          <YCoordinate>338</YCoordinate>
          <MapWidth>34</MapWidth>
          <MapHeight>29</MapHeight>
          <RemainCount>1</RemainCount>
          <StatusCode>0</StatusCode>
          <OptionYn>0</OptionYn>
          <OptionAmount>0</OptionAmount>
          <OptionName />
          <OptionFlag>N</OptionFlag>
        </anyType>
      </GetScheduleByGroupMapResult>
    </GetScheduleByGroupMapResponse>
  </soap:Body>
</soap:Envelope>